/* meet ton style ici */
/* Section Accueil */







/* section actions */





/* sections evenements */





/* section contacts */

.contacts{
    background: linear-gradient(180deg,#EAF7EC,#DDEFD9);
    padding:80px 20px;
}

.contacts h2,
.contacts p{
    text-align:center;
}

.contacts-h2{
    color:#1B5E20;
    font-size:2.3rem;
    margin-bottom:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.contacts-p{
    max-width:700px;
    margin:auto;
    margin-bottom:50px;
    line-height:1.7;
    color:#444;
    font-size:1.5em;
}


.contacts-form{
    display:flex;
    justify-content:center;
}

.contacts-fieldset{
    width:100%;
    max-width:750px;
    background:white;
    border:none;
    border-radius:18px;
    padding:40px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.contacts-legend{
    padding:6px 10px;
    background:#2E7D32;
    color:white;
    border-radius:8px;
    font-size:1.2rem;
    font-weight:bold;
}

.contacts-p-p{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom:22px;
}
.contacts-p-p label{
    color:#1B4332;
    font-weight:bold;
    font-size: 1.2rem;
}

.contacts-input,
.contacts-inp{
    width:100%;
    padding:14px;
    border:2px solid #B7D8BE;
    border-radius:10px;
    font-size:15px;
    transition:.3s;
    outline:none;
    box-sizing:border-box;
}

.contacts-input:focus,
.contacts-inp:focus{
    border-color:#2E7D32;
    box-shadow:0 0 8px rgba(46,125,50,.3);
}

textarea.contacts-input{
    min-height:150px;
    resize:vertical;
}

input[type="checkbox"]{
    width:20px;
    height:20px;
    accent-color:#2E7D32;

}

.contacts-btn{
    width:100%;
    padding:16px;
    background:#2E7D32;
    color:white;
    font-size:18px;
    font-weight:bold;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.contacts-btn:hover{
    background:#1B5E20;
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.18);
}

.contacts-btn:active{
    transform:scale(.98);
}

@media screen and (max-width:768px){

    .contacts{
        padding:60px 18px;
    }
    .contacts-fieldset{
        padding:30px;
    }
    .contacts-h2{
        font-size:2rem;
    }
}

@media screen and (max-width:480px){
    .contacts{
        padding:45px 15px;
    }
    .contacts-h2{
        font-size:1.7rem;
    }
    .contacts-p{
        font-size:.95rem;
    }
    .contacts-fieldset{
        padding:20px;
    }
    .contacts-legend{
        font-size:1rem;
    }
    .contacts-btn{
        font-size:16px;
    }
}


/* section footer */
footer {
    font-size: 30px;
    background-color: #f8f9fa;
    color: #212529;
    font-family: poppins, sans-serif;
    max-width: 100%;
}

.footer-brand-text1 {
    padding-top: 28px;
    padding-left: 30px;
    font-size: 15px;
    padding-bottom: 8px;
}

.footer-brand-text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.accessibility-note {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ecf0f1;
    color: #2c3e50;
    font-size: 20px;
    background-color: #f8f9fa;
}

@media only screen and (max-width:480px) {
    footer {
        width: 400px;
        margin: 20px;
    }

    .accessibility-note {
        font-size: 15px;
    }
}


@media only screen and (min-width:1024px) {
    footer {
        width: 100%;
        margin: 20px;
    }

    .accessibility-note {
        font-size: 20px;
    }
}